#.gitignore
SCADAPro.pro.user
./DMDBAccess/DMDBAccess.pro.user
./DMDBAccess/tmp
./DMDBAccess/bin
bin/
./QsLog/QsLogSharedLibrary.pro.user
CentralControl/lib/x64
CentralControl/lib/x64/MelsecLinkPro.lib
